In [2]:
import pandas as pd
import numpy as np

In [3]:
moviedf=pd.read_csv('16k_Movies.csv')

In [4]:
#1. What percentage of missing or null values exist in key columns such as Description, Directed by, and Written by? How would you handle these missing values?
moviedf['Description']

0        This masterwork by Krzysztof Kieślowski is one...
1        Krzysztof Kieslowski closes his Three Colors t...
2        Set in Rome in the 1930s, this re-release of B...
3        Yasujiro Ozu’s Tokyo Story follows an aging co...
4        Set in Sicily in 1860, Luchino Visconti's spec...
                               ...
16285    Compilation of 4 short films from different di...
16286    Beginning with Woodstock ‘99, director Michell...
16287    America is drawn to the macabre handiwork of t...
16288    Dramatic documentary about the young German pa...
16289    This documentary explores change in one of the...
Name: Description, Length: 16290, dtype: object

In [5]:
moviedf['Directed by']

0        Krzysztof Kieslowski
1        Krzysztof Kieslowski
2         Bernardo Bertolucci
3                Yasujirô Ozu
4            Luchino Visconti
                 ...
16285                     NaN
16286         Michelle Esrick
16287         Julian P. Hobbs
16288        Martin Doblmeier
16289               Josh Pais
Name: Directed by, Length: 16290, dtype: object

In [6]:
moviedf['Directed by']

0        Krzysztof Kieslowski
1        Krzysztof Kieslowski
2         Bernardo Bertolucci
3                Yasujirô Ozu
4            Luchino Visconti
                 ...
16285                     NaN
16286         Michelle Esrick
16287         Julian P. Hobbs
16288        Martin Doblmeier
16289               Josh Pais
Name: Directed by, Length: 16290, dtype: object

In [7]:
moviedf['Directed by'].fillna('bfill',inplace=True)

In [8]:

moviedf['Directed by'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
16285    False
16286    False
16287    False
16288    False
16289    False
Name: Directed by, Length: 16290, dtype: bool

In [9]:
moviedf['Directed by']

0        Krzysztof Kieslowski
1        Krzysztof Kieslowski
2         Bernardo Bertolucci
3                Yasujirô Ozu
4            Luchino Visconti
                 ...
16285                   bfill
16286         Michelle Esrick
16287         Julian P. Hobbs
16288        Martin Doblmeier
16289               Josh Pais
Name: Directed by, Length: 16290, dtype: object

In [10]:
moviedf['Written by']

0               Krzysztof Kieslowski, Krzysztof Piesiewicz
1        Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...
2                     Alberto Moravia, Bernardo Bertolucci
3                                  Kôgo Noda, Yasujirô Ozu
4        Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...
                               ...
16285                                                  NaN
16286                                                  NaN
16287                                                  NaN
16288                                     Martin Doblmeier
16289                                            Josh Pais
Name: Written by, Length: 16290, dtype: object

In [11]:

moviedf['Written by'].fillna('ffill',inplace=True)

In [12]:
moviedf['Written by']

0               Krzysztof Kieslowski, Krzysztof Piesiewicz
1        Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...
2                     Alberto Moravia, Bernardo Bertolucci
3                                  Kôgo Noda, Yasujirô Ozu
4        Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...
                               ...
16285                                                ffill
16286                                                ffill
16287                                                ffill
16288                                     Martin Doblmeier
16289                                            Josh Pais
Name: Written by, Length: 16290, dtype: object

In [13]:
#2. Perform a summary of basic statistics (mean, median, standard deviation, min, and max) for the Rating column. Identify any outliers in movie ratings using statistical methods such as Z-scores or IQR.

In [14]:
moviedf['Rating'].describe()

count    12846.000000
mean         6.617632
std          1.415272
min          0.300000
25%          5.800000
50%          6.800000
75%          7.600000
max         10.000000
Name: Rating, dtype: float64

In [15]:
from scipy import stats
z_scores=stats.zscore(moviedf['Rating'])
outliers=moviedf[(z_scores > 3) | (z_scores < -3)]
print(outliers)

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Description, Rating, No of Persons Voted, Directed by, Written by, Duration, Genres]
Index: []

In [16]:
#3. How many unique genres exist in the dataset? What are the most common genres over time?

In [17]:
moviedf['Genres'].unique()

array(['Drama', 'Drama,Mystery,Romance', 'Drama,History', ...,
       'Action,Adventure,Horror', 'Drama,Crime,Action',
       'Comedy,Crime,Family,Sci-Fi'], dtype=object)

In [18]:
#4. Convert the Release Date column into components like year and month. What are the most frequent movie release years

In [19]:
moviedf['Release Date']

0        Mar 22, 1996
1        Nov 23, 1994
2        Oct 22, 1970
3        Mar 13, 1972
4        Aug 13, 2004
             ...
16285    Apr 27, 2001
16286    Dec 10, 2010
16287     Oct 1, 2000
16288    Jun 20, 2003
16289    Jan 17, 2003
Name: Release Date, Length: 16290, dtype: object

In [20]:
moviedf['Release Date']= pd.to_datetime(moviedf['Release Date'])

In [21]:
moviedf['Release Date']

0       1996-03-22
1       1994-11-23
2       1970-10-22
3       1972-03-13
4       2004-08-13
           ...
16285   2001-04-27
16286   2010-12-10
16287   2000-10-01
16288   2003-06-20
16289   2003-01-17
Name: Release Date, Length: 16290, dtype: datetime64[ns]

In [22]:
moviedf['Year of release']= pd.DatetimeIndex(moviedf['Release Date']).year

In [23]:
moviedf['Month of release']= pd.DatetimeIndex(moviedf['Release Date']).month

In [24]:
moviedf.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres,Year of release,Month of release
0,0,Dekalog (1988),1996-03-22,This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama,1996,3
1,1,Three Colors: Red,1994-11-23,Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance",1994,11
2,2,The Conformist,1970-10-22,"Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama,1970,10
3,3,Tokyo Story,1972-03-13,Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama,1972,3
4,4,The Leopard (re-release),2004-08-13,"Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History",2004,8

In [25]:
#5.How many duplicate movies exist based on the Title column? What steps would you take to remove duplicates, if any?

In [26]:
moviedf['Title'].unique()

array(['Dekalog (1988)', 'Three Colors: Red', 'The Conformist', ...,
       'Collectors', 'Bonhoeffer', '7th Street'], dtype=object)

In [27]:
moviedf['Title'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16285    False
16286    False
16287    False
16288    False
16289    False
Name: Title, Length: 16290, dtype: bool

In [28]:
#6. Perform frequency counts of categorical columns such as Directed by and Written by. Which directors and screenwriters have the most movies in the dataset?

In [29]:
moviedf.groupby('Directed by')[['Written by']].value_counts().reset_index()

           Directed by                     Written by  count
0         A. Dean Bell                   A. Dean Bell      1
1             A.B. Zax                          ffill      1
2           A.J. Eaton                          ffill      1
3         A.J. Edwards                   A.J. Edwards      1
4      A.R. Murugadoss  A.R. Murugadoss, Arun Shekhar      1
...                ...                            ...    ...
13109      Éric Rohmer                    Éric Rohmer      2
13110      Éric Rohmer     Grace Elliott, Éric Rohmer      1
13111   Étienne Sauret                          ffill      1
13112       Éva Gárdos                     Éva Gárdos      1
13113      Óliver Laxe   Santiago Fillol, Óliver Laxe      2

[13114 rows x 3 columns]

In [30]:
#7. Create a new column that classifies movies based on their Duration (e.g., short, medium, long). How many movies fall into each category, and how does the rating vary by category?
moviedf['Duration']

0                                                 9 h 32 m
1                                                 1 h 39 m
2                                                 1 h 47 m
3                                                 2 h 16 m
4                                                  3 h 7 m
                               ...
16285    \r\n        https://www.amazon.com/Boys-Men-Ph...
16286                                            Not Rated
16287                                             1 h 20 m
16288                                             1 h 33 m
16289    \r\n        http://www.7thstreetmovie.com/\r\n...
Name: Duration, Length: 16290, dtype: object

In [31]:

bins=['80.20','187','572.20']
lenght_movies=['short','medium','long']
moviedf['Movie Time']=pd.cut(moviedf['Duration'],bins=bins,labels=lenght_movies,include_lowest=True)
moviedf.head()

ValueError: bins must increase monotonically.

In [43]:
#8. What are the average and median Number of Persons Voted per movie? What is the relationship between the number of votes and the movie's Rating?
moviedf.groupby(['No of Persons Voted','Genres']).agg('mean','median').reset_index()

,No of Persons Voted,Genres,Unnamed: 0,Release Date,Rating
0,"1,002","Action,Adventure,Fantasy,Sci-Fi",8703.0,1.0,5.9
1,"1,003","Action,Drama,History,War",2441.0,1.0,8.3
2,"1,003","Animation,Action,Adventure,Comedy,Crime,Family...",3704.0,1.0,7.7
3,"1,006","Action,Adventure,Sci-Fi",10869.0,1.0,3.9
4,"1,015","Animation,Action,Adventure,Comedy,Family,Sci-Fi",1757.0,1.0,7.7
...,...,...,...,...,...
7896,99,"Drama,Romance",173.0,1.0,6.3
7897,99,"Horror,Thriller",16074.0,1.0,5.9
7898,993,"Action,Adventure,Thriller",3419.0,1.0,7.9
7899,994,"Action,Drama,Sci-Fi,Thriller",980.0,1.0,7.2
7900,996,"Action,Adventure,Sci-Fi",8552.0,1.0,6.8

ValueError: No axis named median for object type Series

In [40]:
moviedf.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Description', 'Rating',
       'No of Persons Voted', 'Directed by', 'Written by', 'Duration',
       'Genres', 'Year of release', 'Month of release'],
      dtype='object')

In [41]:
#9. Calculate the total number of movies directed by each director. What are the descriptive statistics (mean, median, max) for the number of movies directed per individual?

In [63]:
moviedf.groupby('Title')[['Directed by']].value_counts().reset_index()

,Title,Directed by,count
0,#Horror,Tara Subkoff,1
1,$9.99,Tatia Rosenthal,1
2,$pent,Gil Cates Jr.,1
3,'71,Yann Demange,1
4,'R Xmas,Abel Ferrara,1
...,...,...,...
14688,xXx: Return of Xander Cage,D.J. Caruso,1
14689,xXx: State of the Union,Lee Tamahori,1
14690,À cause d'un garçon,Fabrice Cazeneuve,1
14691,Ça commence aujourd'hui,Bertrand Tavernier,1
14692,Évocateur: The Morton Downey Jr. Movie,"Seth Kramer, \n \n Daniel A. Miller, \...",1

In [52]:
#10. Analyze the distribution of movies across different decades. What decade had the highest average movie rating?

In [53]:
#11. How many movies belong to multiple genres? What percentage of movies in each genre also belong to another genre?

In [59]:
moviedf.groupby('Title')[['Genres']].count().reset_index()

                                        Title  Genres
0                                     #Horror       1
1                                       $9.99       1
2                                       $pent       1
3                                         '71       1
4                                     'R Xmas       1
...                                       ...     ...
14688              xXx: Return of Xander Cage       1
14689                 xXx: State of the Union       1
14690                     À cause d'un garçon       0
14691                 Ça commence aujourd'hui       1
14692  Évocateur: The Morton Downey Jr. Movie       1

[14693 rows x 2 columns]

In [60]:
#12. What is the correlation between Duration and Rating? Do longer or shorter movies tend to receive higher ratings

In [99]:
#moviedf['Rating'].ffill(inplace=True)
moviedf.ffill({'Rating'},inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_13008\716221995.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  moviedf['Rating'].ffill(inplace=True)

In [68]:
moviedf.groupby('Duration')[['Rating']].corr().reset_index()

                                              Duration level_1  Rating
0    \n        http://advancedstylefilm.com/\n          Rating     NaN
1        \n        http://aspaceprogram.com/\n          Rating     NaN
2    \n        http://collidingdreamsthemovie.com/\...  Rating     NaN
3    \n        http://combatobscura.oscilloscope.ne...  Rating     NaN
4          \n        http://kabakovfilm.com/\n          Rating     NaN
..                                                 ...     ...     ...
245                                              TV-PG  Rating     NaN
246                       The one team that had a pair  Rating     NaN
247  The story of how truth became the first Americ...  Rating     NaN
248                                            Unrated  Rating     1.0
249  What Will You Find if You Pin All Your Hopes O...  Rating     NaN

[250 rows x 3 columns]

In [65]:
#13. Calculate the average Rating for each genre. Which genres have the highest and lowest average ratings?

In [66]:
moviedf.groupby('Rating')[['Genres']].mean(numeric_only=True)

:

In [67]:
#14. Create a new binary flag to indicate high-rated movies (with a Rating greater than 75). How many movies fall into this category?

In [68]:
moviedf['Rating']

0        7.4
1        8.3
2        7.3
3        8.1
4        7.8
        ...
16285    NaN
16286    NaN
16287    NaN
16288    NaN
16289    NaN
Name: Rating, Length: 16290, dtype: float64

In [69]:
#19. What are the top 5 most frequent screenwriters (Written by) in the dataset? How do their movies' average ratings compare?

In [74]:
moviedf.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Description', 'Rating',
       'No of Persons Voted', 'Directed by', 'Written by', 'Duration',
       'Genres'],
      dtype='object')

In [72]:
#21. Perform a correlation analysis between the Number of Persons Voted, Duration, and Rating. What are the correlation coefficients, and what do they reveal?